<link href="stylesheets/css/project/projectMain.css" rel="stylesheet">
<section>
	<div class="introduction">

		<h1>Liste de Mariage</h1>

	</div>

	<div class="overlay-layer"></div>

	<ul class="items container">
		<%
		console.log(projects)
		console.log(projects.length)
		var percentage = 0;
		for (var i = 0; i < projects.length; ++i)
		{
		percentage = 100 * projects[i].payed / projects[i].price;
		console.log(projects[i])%>
		<li class="item">
			<!--to make it work, image location must be the same in item image and quick view image too-->
			<img src="<%= 'http://localhost:1337/project/projectpicture/' + projects[i].imageUrls[0]%>" alt="Item Preview"> <!--projects[i].imageUrls[0]-->
			<div class="percentageLayout" style="height:<%= percentage %>%">
				<p style="padding-top: 10px; font-size:<%= percentage / 100 * 3 %>em"> <%= percentage %> % </p>
			</div>
			<a href="#0" class="trigger" payed="<%=projects[i].payed%>" price="<%=projects[i].price%>">Quick View</a>
		</li> <!-- item -->
		<%}%>
		<!--<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>

	<li class="item">
		<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
		<a href="#0" class="trigger">Quick View</a>
	</li>-->
	</ul> <!-- items -->

	<div class="quick-view">
		<div class="slider-wrapper">
			<ul class="slider">
				<li class="selected"><img src="<%= 'http://localhost:1337/project/projectpicture/' + projects[0].imageUrls[0]%>" alt="Product 1"></li>
				<li><img src="<%= 'http://localhost:1337/project/projectpicture/' + projects[0].imageUrls[1]%>" alt="Product 2"></li>
				<li><img src="<%= 'http://localhost:1337/project/projectpicture/' + projects[0].imageUrls[2]%>" alt="Product 3"></li>
			</ul> <!-- slider -->

			<ul class="slider-navigation">
				<li><a class="next" href="#0">Prev</a></li>
				<li><a class="prev" href="#0">Next</a></li>
			</ul> <!-- slider-navigation -->
		</div> <!-- slider-wrapper -->

		<div class="item-info">
			<h2>Produt Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>


			<div class="range-slider">
				<input class="range-slider__range" type="range" value="<%=projects[0].payed%>" min="<%= projects[0].payed %>" max="<%=projects[0].price%>">
				<span class="range-slider__value"><%=projects[0].payed%></span>
			</div>

			<ul class="item-action">
				<!--<li></li>-->
				<li><input class="form-control" type="text" placeholder="Price" required data-validation-required-message="Please chose a price"></li>
				<li>
					<button class="pay">Add to cart</button>
				</li>
			</ul> <!-- item-action -->
		</div> <!-- item-info -->
		<a href="#0" class="close">Close</a>
	</div> <!-- quick-view -->
</section>



<script src="javascripts/js/project/projectMain.js"></script>
<script src="javascripts/js/project/velocity.min.js"></script>
